<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Packetes</title>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
</head>
<body>
	<form id="form" action="/packages" th:action="@{/packages}" th:object="${packageInfo}"
		method="post">
		<div>
			<input type="text" th:field="*{code}" />
		</div>
		<div>
			<input type="text" th:field="*{tittle}" />
		</div>
		<div>
			<input type="text" th:field="*{subtittle}" />
		</div>
		<div>
			<input type="text" th:field="*{typeOfTrip}" />
		</div>
		<div>
			<input type="text" th:field="*{stock}" />
		</div>
		<div>
			<textarea rows="10" cols="100" th:field="*{availabityExtraInfo}"></textarea>
		</div>
		<div class="col">
            <div class="form-group">
                <label for="optionalServiceClass">Clases de Servicio Opcionales</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-sm"
                           id="optionalServiceClass" placeholder="Ingrese las clases opcionales"
                           aria-label="Ingrese las clases opcionales" aria-describedby="basic-addon2"
                           onkeyup="this.value = this.value.toUpperCase()" onfocus="this.value=''" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-sm"
                                id="addOptionalServiceClass" type="button">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div id="optionalServicesClass">
                    <div class="btn btn-outline-success btn-sm m-1"
                         th:each="cont : ${packageInfo.cont}">
                        <span th:text="${cont}" class="pr-1"></span><i
                            class="fas fa-trash removeOptionalServiceClass"></i> <input
                            type="hidden" th:value="${cont}"
                            name="cont" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="seedstarterlist" >
    
		  <h2>Segments</h2>
		  
		  <div id="idDivSegment" style="border: 1px solid blue">
		  	<div>
		  		<label>Airline</label>
		  		<input id="idAirline" type="text" />
		  	</div>
		  	<div>
		  		<label>Flight number</label>
		  		<input id="idFlightNumber" type="text" />
		  	</div>
		  	<div>
		  		<label>Airport origin</label>
		  		<input id="idAirportOrigin" type="text" />
		  	</div>
		  	<div>
		  		<label>DepartureDate</label>
		  		<input id="idDepartureDate" type="text" />
		  	</div>
		  	<div>
		  		<label>DepartureTime</label>
		  		<input id="idDepartureTime" type="text" />
		  	</div>
		  	<div>
		  		<label>Airport destination</label>
		  		<input id="idAirportDestination" type="text" />
		  	</div>
		  	<div>
		  		<label>ArrivalDate</label>
		  		<input id="idArrivalDate" type="text" />
		  	</div>
		  	<div>
		  		<label>ArrivalTime</label>
		  		<input id="idArrivalTime" type="text" />
		  	</div>
		  	<div>
		  		<label>Indicator</label>
		  		<select id="idIndicator">
				  <option th:value="Ninguno" th:text="Seleccione">Seleccione</option>
				  <option th:value="OW" th:text="OW">OW</option>
				  <option th:value="RT" th:text="RT">RT</option>
				</select>
		  	</div>
		  	<button class="btn btn-outline-secondary btn-sm"
                                id="idAddSegment" type="button">joooo
                        </button>
		  	
		  </div>
		  
		  <table>
		    <thead>
		      <tr>
		      	<th>Airline</th>
		      	<th>Flight number</th>
		      	<th>Airport origin</th>
		        <th>Departure date</th>
		        <th>Departure time</th>
		        <th>Airport destination</th>
		        <th>Arrival date</th>
		        <th>Arrival time</th>
		        <th>Indicator</th>
		      </tr>
		    </thead>
		    <tbody id="idTbody">
		      <tr th:each="sb : ${packageInfo.segmentsUtil}">
		        <td th:text="${sb.airline.code}">AV</td>
		        <td th:text="${sb.flightNumber}">1243</td>
		        <td th:text="${sb.airportOrigin.codeIATA}">AV</td>
		        <td th:text="${sb.departureDate}">09/04/2020</td>
		        <td th:text="${sb.departureTime}">11:40</td>
		        <td th:text="${sb.airportDestination.codeIATA}">LA</td>
		        <td th:text="${sb.arrivalDate}">19/04/2020</td>
		        <td th:text="${sb.arrivalTime}">18:00</td>
		        <td th:text="${sb.Indicator}">OW</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
        
		<div>
			<input type="submit" value="Grabar" />
		</div>
	</form>
	<script th:src="@{/js/packages.js}" type="text/javascript"></script>
</body>
</html>