<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: head"></head>

<body>
    <div th:replace="fragments/general.html :: nav"></div>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pt-3 pb-3">
                    <h2 class="text-center">Paquetes</h2>
                </div>
                <div class="col-12 text-right">
                	<a th:href="@{/packages/new}"><span style="font-weight: bold">+</span> Nuevo</a>
                </div>
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">C&oacutedigo</th>
                                <th scope="col">T&iacutetulo</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Duraci&oacuten de d&iacuteas</th>
                                <th scope="col">D&oacutelares</th>
                                <th scope="col">Soles</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="object, ite : ${packages}">
                                <td>
                                    <label>
                                        <a th:href="@{/packages/} + ${object.code}" th:text="${packages[__${ite.index}__].code}"></a>
                                    </label>
                                </td>
                                <td>
                                    <label th:text="${packages[__${ite.index}__].tittle}"></label>
                                </td>
                                <td>
                                    <label th:text="${packages[__${ite.index}__].stock}"></label>
                                </td>
                                <td>
                                    <label th:text="${packages[__${ite.index}__].packageDate[0].durationDays}"></label>
                                </td>
                                <td>
                                    <label th:text="${packages[__${ite.index}__].packageDate[0].currencies[0].priceAdult}"></label>
                                </td>
                                <td>
                                    <label th:text="${packages[__${ite.index}__].packageDate[0].currencies[1].priceAdult}"></label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/general.html :: footer"></div>
</body>

</html>