div .container-fluid{
	border: 1px solid blue;
	margin: 20px
}
div.row div{
	border: 5px;
}

textarea.fullwidth {
    max-width:100%;
    min-width:100%;
    resize:vertical;
    box-sizing:border-box;
    margin:auto;
}